# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
*.env

# Excel output
*.xlsx

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code project settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
